<p id="notice">
<%= notice %>
</p>


<table>
  <strong>Title:</strong> <%= @book.title %>
</table>
<table>
  <strong>Body:</strong> <%= @book.body %>
  </table>


<%= link_to "Edit", edit_book_path(@book) %>
|
<%= link_to "Back", books_path %>